project:
  type: website
  output-dir: _site

website:
  title: "2026-01 CHI event"
  navbar:
    left:
      - href: agenda.qmd
        text: Agenda
      - href: readinglist.qmd
        text: Reading List

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  freeze: auto