project:
  type: website
  output-dir: _site

website:
  title: "2026-01 CHI event"
  navbar:
    left:
      - href: https://docs.google.com/spreadsheets/d/e/2PACX-1vQRU0NZTbo1q44yaXrLb2GUK78F2dN1A_pi0U5gSQGiZwxu-4BSj92cC8gOuJh7OH9ow0xqny9yUrXb/pubhtml?gid=16870347&single=true&widget=false&chrome=false
        text: Agenda
      - href: readinglist.qmd
        text: Reading List

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  freeze: auto